@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
html, 
body{
    background: #253141;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(
    to bottom, 
    rgba(37, 49, 65, 0.7) 0%,
    #253141 80%,
    #253141 100%
    ),
    url("https://ae01.alicdn.com/kf/HTB1dGO2KFXXXXbgXFXXq6xXFXXXf/226077377/HTB1dGO2KFXXXXbgXFXXq6xXFXXXf.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}
header .left-menu{
    display: flex;
}
header .left-menu .logo{
    font-size: 2rem;
    color: white;
    font-weight: 700;
}
header .left-menu .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
header .left-menu .menu a{
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 300;
    transition: all .2s ease-in-out;
}
header .left-menu .menu .fas{
  margin-left: 10px
}
header .left-menu .menu a:hover{
  color: rgba(255,255,255,1);
  transition: all .2s ease-in-out;
}
header .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .right-menu .language{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 0 60px 0 0;
    text-transform: uppercase;  
    font-weight: 300; 
}
header .right-menu .language:hover{
  color: rgba(255, 255, 255, 0.8);

}
header .right-menu .language .fas{
  margin-right: 10px ;

}
header .right-menu .signin{
    background: #0375d5;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.section-title{
  font-size: 1.8rem;
  color: white;
  margin-bottom: 30px;
}

#featured{
  padding: 50px 0 50px;
}

#featured .videos-section {
    display: grid;
    grid-template-columns: 1fr 2fr 620px 2fr 1fr;
    grid-gap: 10px;
}
#featured .videos-section .video{
    display: flex;
    justify-content: center;
    align-items: center;
}
#featured .videos-section .video .image{
    width: 100%;
    height: 300px;
    background: url("https://media.giphy.com/media/jgmsJXcgiN5EA/giphy.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#featured .videos-section .video.center{
    width: 100%;
    height: 349px;
}
#featured .videos-section .video.video.center .image{
    width: 100%;
    height: 349px;
    background: url("https://i.gifer.com/7Jj0.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.05);
    border: 2px solid #00b4f0;
}
#featured .videos-section .video:nth-child(1) .image, #featured .videos-section .video:nth-child(5) .image{
  position: relative;  
}
#featured .videos-section .video:nth-child(1) .image  .arrow {
  position: absolute;  
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  transition: all .2s ease-in-out;
}
#featured .videos-section .video:nth-child(1) .image  .arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
#featured .videos-section .video:nth-child(5) .image  .arrow{
  position: absolute;  
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  right: 0;
  transition: all .2s ease-in-out;
}
#featured .videos-section .video:nth-child(5) .image  .arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
#featured .videos-section .video:nth-child(1) .image  .arrow .fas,
#featured .videos-section .video:nth-child(5) .image  .arrow .fas {
  font-size: 4rem;
  color: #00b4f0;
}
#featured .dots{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px
}
#featured .dots .circles{
  display: flex;
  justify-content: center;
  align-items: center;
}
#featured .dots .circles .circle{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#featured .dots .circles .circle .background-color{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  transition: all .2s ease-in-out;
}
#featured .dots .circles .circle:hover .background-color{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background:#00b4f0;
}
#featured .circles .circle.active .background-color{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: white; 
}
#top-games{

  
}
#top-games .games{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
#top-games .games .game{
  background: url("https://3vzy8m3eenx1p8gs2ojxf24g-wpengine.netdna-ssl.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/03/Apex_Legends_Banner_Image.jpg.webp");
  background-position: top-center;
  background-repeat: no-repeat;
  background-size:cover ;
  height: 250px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0, 0.45);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0, 0.45);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0, 0.45);
  overflow: hidden;
}
#top-games .games .game .info{
  background: #253041;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  color: white;
}
#top-games .games .game:hover .info{
  background: #313f55;
}
#top-games .games .game .info .title{
  font-weight: 600;
  margin-bottom: 10px;


}
#top-games .games .game .info .views{
  font-weight: 300;
  color: #8c919d;
  font-size: 0.9rem;
}
#top-games .games .game .info .views .fa{
  margin-right: 10px;
}




